.c {
  text-align: center;
  font-size: 20px;
}

button,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  font-family: 'Raleway', sans-serif;
}
#menu-outer {
	height: 84px;

}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horiz-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
	}
	ul#horiz-list li {
    vertical-align: middle;
	}